<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="background-container"></div>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-4">
                                <a href="#" class="logo logo-admin">
                                    <img src="https://www.usbmed.edu.co/Portals/0/logo-usbmed.png?ver=2023-08-29-004046-690" height="30" alt="logo">
                                </a>
                            </h3>
                            <div class="p-3">
                                <h4 class="font-size-18 mb-1 text-center">¡Bienvenidos!</h4>
                                <p class="text-muted text-center">Grupo Innovación</p>

                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

                                <form class="form-horizontal mt-4" action="{{ url_for('login.login_view') }}" method="post">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        {{ form.email(class="form-control", placeholder="Ingrese su email") }}
                                        {% if form.email.errors %}
                                            {% for error in form.email.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Contraseña</label>
                                        {{ form.password(class="form-control", placeholder="Ingrese su contraseña") }}
                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group row mt-4">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-custom w-md waves-effect waves-light">Acceder al Sistema</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>¿No tienes cuenta? <a href="{{ url_for('login.register_view') }}" class="text-register">Regístrate ahora</a></p>
                        <p>© 2024 <i class="mdi mdi-heart text-danger"></i> Universidad San Buenaventura</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
